format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$git_metrics\
$python\
$kubernetes\
$fill\
$cmd_duration\
$line_break\
$character"""

add_newline = true
continuation_prompt = "[ऽ ](bold #8be9fd)"
scan_timeout = 60
command_timeout = 3600

[username]
style_user = "bold #8be9fd"
disabled = false

[hostname]
format = "[$hostname]($style) "
style = "bold #8be9fd"
disabled = false

[directory]
style = "bold #ff79c6"

[git_branch]
format = "[$symbol$branch]($style) "
style = "bold #bd93f9"

[git_state]
style = "bold #bd93f9"

[git_status]
style = "bold #bd93f9"

[git_metrics]
added_style = "bold #50fa7b"
deleted_style = "bold #ff5555"
disabled = false

[fill]
symbol = " "

[cmd_duration]
style = "bold #f1fa8c"

[line_break]
disabled = false

[character]
success_symbol = "[ॐ ](bold #bd93f9)"
error_symbol = "[ॐ ](bold #ff9933)"
vimcmd_symbol = "[ऽ](bold #8be9fd)"

[python]
style = "green bold"
format = "[$virtualenv]($style) "

[kubernetes]
disabled = false
detect_files = []
detect_env_vars = ["KUBECONFIG"]
style = "bold blue"
format = '[$context \($namespace\)]($style) '
